body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'arial', sans-serif;
    font-weight: 700;
}
.container {
	position: absolute;
}

.topnav {
    top: 0;
    padding: 0,30;
    background-color: black;
    height: 70px;
    width: 100%;
}
.background-container {
	width: 100%;
	height: 100%;
	top: 70px;
	background: url(hollywoodbroadwalk.jpg) no-repeat; 
	background-size: cover;
	z-index: -1;  
}

.main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 70px
}
.topnav li {
	font: 15px arial, sans-serif;
	color: white;
    text-transform: uppercase;
    text-align: right;
    background-color: black;
}
.navbar-collapse {
	top: 15px;
}
h1 {
	float: right;
}
.headshot-cell {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%
  top: 70px;
}
.img-headshot{
    border-radius: 50%;
	width: 80%;
	height: auto;
	position: absolute;
}
