body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.heading {
    top: 0;
    margin: 0;
    background-color: black;
	position: absolute;
    height: 10%;
    width: 100%;
}
.heading h2 {
	font: 15px arial, sans-serif;
	color: white;
    text-transform: uppercase;
    text-align: center;
}
.background-container {
	width: 100%;
	height: 90%;
	top: 10%;
	position: absolute;
	margin: 0;
	background: rgba(155, 135, 135, 0.2) url(desktop.jpg) no-repeat; 
	background-size: cover;
	z-index: -1;  
}
.img-headshot{
	width: 26%;
	height: auto;
	position: absolute;
	left: 37%;
	top: 10%;
}
